@CHARSET "UTF-8";
body{
	font-family:Tahoma,"Trebuchet MS","Nimbus Sans L",Arial,"Franklin Gothic Medium","Helvetica Neue",Geneva,Verdana,"URW Gothic L","Gill Sans",Helvetica,"Lucida Sans Unicode","Arial Black","Lucida Grande","Microsoft Sans Serif",sans-serif;	font-size: small;
}
#divMessage{
	font-size: large;
}

.head{
    text-align: center;
    background-color: aqua;
    top:0px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}
.headName{
    font-weight: bold;
}